@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.home-page{
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-image: url(HOD-Banner-Right.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar{
    /* width: 1370px;
    margin: auto; */
    padding: 15px 100px 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 60px;
}
.logo img{
    width: 100%;
}
.menu{
    display: flex;
    gap: 60px;
}
.menu li{
    color: white;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s linear;
}
.menu li:hover{
    color: red;
    cursor: pointer;
}

.account{
    display: flex;
    gap: 20px;
}
.account i{
    color: white;
    font-size: 30px;
}

.home-title{
    margin-left: 100px;
    margin-top: 100px;
}
.new-release{
    color: rgb(194, 194, 194);
    font-weight: 700;
    border-left: 3px solid gold;
    padding-left: 15px;
}
.title{
    font-size: 70px;
    margin-top: 25px;
    color: white;
}
.movie-detail{
    display: flex;
    color: white;
    margin-top: 25px;
    align-items: center;
    gap: 25px;
}
.movie-detail .cc{
    border: 2px solid white;
    padding: 7px 20px 7px 20px;
    border-radius: 50px;
}
.description{
    width: 650px;
    margin-top: 25px;
    font-size: 20px;
    line-height: 30px;
    color: white;
}
.watch-btn{
    font-size: 23px;
    margin-top: 25px;
    font-weight: 700;
    padding: 16px 30px 16px 30px;
    background-color: orange;
    border: 3px solid orange;
    border-radius: 5px;
    color: white;
    transition: all 0.3s ease;
}
.watch-btn:hover{
    background-color: transparent;
}

/* ==================================================================================== */

.online-streaming{
    width: 100%;
    height: 100vh;
    background-color: white;
    padding: 100px;
    position: relative;
    z-index: 2; 
}
.online-streaming span{
    font-size: 23px;
    color: rgb(150, 150, 150);
}
.online-streaming h2{
    font-size: 50px;
}
.movie-online-container{
    display: grid;
    margin-top: 30px;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}
.online-movie-card{
    width: 100%;
    height: 450px;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.online-movie-card:first-child{
    background-image: url(online-movie1.jpg);
}
.online-movie-card:nth-child(2){
    background-image: url(online-movie2.jpg);
}
.online-movie-card:nth-child(3){
    background-image: url(online-movie3.jpg);
}
.online-movie-card:last-child{
    background-image: url(online-movie4.jpg);
}
.background-opacity{
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.191);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    transition: all 0.3s ease;
}
.background-opacity:hover{
    background-color: rgba(0, 0, 0, 0.403);
    cursor: pointer;
}
.action{
    opacity: 0;
    background-color: red;
    color: white !important;
    font-size: 15px !important;
    padding: 3px 8px 3px 8px;
    transition: all 0.5s ease;
}
.background-opacity:hover .action{
    opacity: 1;
}
.background-opacity h3{
    color: white;
    font-size: 33px;
    font-weight: 500;
    margin-top: 15px;
}
.play{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
}
.play .play-btn{
    width: 45px;
    height: 45px;
    background-color: white;
    border: none;
    border-radius: 50%;
    transition: all .3s ease;
}
.play span{
    font-size: 18px;
    color: white;
}
.play-btn:hover{
    background-color: red;
    color: white;
}




/* ============================================================================= */
.movies{
    background-color: #111111;
    position: relative;
    z-index: 2;
    padding: 100px;
}
.movies p{
    text-align: center;
    color: rgb(173, 173, 173);
    font-size: 23px;
    font-weight: 600;
}
.movies h2{
    text-align: center;
    color: white;
    font-size: 50px;
}
.movie-container{
    margin-top: 30px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(6, 1fr);
}
.movie-image{
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.movie-image1{background-image: url(online-movie4.jpg);}
.movie-image2{background-image: url(online-movie3.jpg);}
.movie-image3{background-image: url(online-movie2.jpg);}
.movie-image4{background-image: url(online-movie1.jpg);}
.movie-image5{background-image: url(online-movie4.jpg);}
.movie-image6{background-image: url(online-movie3.jpg);}
.movie-image7{background-image: url(online-movie2.jpg);}
.movie-image8{background-image: url(online-movie1.jpg);}
.movie-image9{background-image: url(online-movie4.jpg);}
.movie-image10{background-image: url(online-movie3.jpg);}
.movie-image11{background-image: url(online-movie2.jpg);}
.movie-image12{background-image: url(online-movie1.jpg);}
.movie-image div{
    display: flex;
    align-items: end;
    padding: 10px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease;
}
.movie-image div:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.399);
}
.movie-image div img{
    width: 45px;
}

.detail div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 10px;
}
.detail div span:first-child{
    border: 1px solid white;
    padding: 2px;
}
.category{
    color: red !important;
    font-size: 17px !important;
    text-align: left !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
.movie-title{
    font-size: 25px;
    color: white;
}
.BROWS-ALL-MOVIES{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.BROWS-ALL-MOVIES button{
    font-size: 23px;
    padding: 18px 45px 18px 45px;
    background-color: red;
    color: white;
    border: 2px solid red;
    transition: all 0.3s ease;
    font-weight: bold;
}
.BROWS-ALL-MOVIES button:hover{
    background-color: transparent;
}
/* ================================================================= */
.audio-image{
    width: 150px !important;
}